<h2><NAME>: <DESCRIPTION></h2>

<span style="color:#603">
## To use this repository (install packages from it):
</span>

<pre style="color:#060">source('<CONFSCRIPT>')</pre>

<span style="color:#603">
## ... then you can use install.packages() to add any of the below files.<br>
## To remember the settings (alter .Rprofile to include the above source):
</span>

<pre style="color:#060">
  install.packages('myRepository')
  myRepository::rememberMyRepo()
</pre>

<b>For more help, see <a href="resources">Resources</a></b>.
